/*
1. GENERAL
2. Header
3. Section : search
4. Section : results city
5. Section : results popular
6. Section : results activity
7. Footer
*/

/* media queries phone */
:root {
    --clr-blue: #0065fc;
    --clr-light-blue: #deebff;
    --clr-light-grey: #f2f2f2;
}

@media screen and (max-width: 768px) {
    /* ---------------------HEADER------------------------ */
    .logo {
        width: 90px;
        height: 50px;
        margin-top: 20px;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .menu-link:hover {
        color: var(--clr-blue);
        border-bottom: 2px solid var(--clr-blue);
        border-top: 2px solid white;
    }

    .filters {
        /* size: 30px; */
    }

    /* -----------------------SEARCH------------------------ */

    .search{
        width: 100%;
    }

    .search h1 {
        font-size: 25px;
    }

    .search p {
        font-size: 17px;
        margin-bottom: 30px;
    }

    .holder {
        font-size: 15px;
    }

    .menu {
        width: 100%;
    }

    .menu-link{
        width: 50%;
    }

    .search-input {
        display: flex;
        font-size: 22px;
    }

    .search-button {
        display: none;
    }

    .search-button-mobile {
        width: 40px;
        height: 40px;
        display: initial;
        color: white;
        background-color: var(--clr-blue);
        border-radius: 15px;
        border: none;
    }

    .titreFiltre {
        display: block;
        width: 100%;
    }

    .infos {
        font-size: 14px;
        margin-bottom: 30px;
    }

    /* ---------------------ACCOMODATION---------------------- */

    .accomodation {
        flex-direction: column-reverse;
    }

    .accomodation h2 {
        font-size: 23px;
    }

    .accomodation-card-details img{
        margin: 57px;
        
    }
   
    .accomodation-card-details p {
        margin-top: 5px;
    }

    .accomodation-city {
        width: 100%;
        background-color: white;
    }

    .accomodation-card {
        width: 90%;
        display: flex;
        align-self: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
        
    }


    .rating {
        /* font-size: ; */
    }

    /* ----------------------POPULAR--------------------- */
    .popular {
        flex-direction: column;
        width: auto;
        border-radius: 0;
    }

    .popular-card {
        width: 100%;
        display: flex;
    }

    /* --------------------ACTIVITY----------------------- */

/* titre */
    .activity-section h2{
        font-size: 21px;
        margin-left: 20px;
    }

    /* ca contient les 4 colonnes  */
    .activity-container {
        flex-direction: column;
        height: 550px;
    }

    /* les colonnes */
 .activity-column {
        width: 100%;
        margin-bottom: 25px;
        width: 90%;
      
    /* prend tout ce qui se trouve dans la class activity column */
    .activity-column > * { 
        margin-left: 20px;
        width: 90%;
        
    }

   

    }

   

    .activity-title {
        height: 50px;
    }

    .activity-card img {
        height: calc(100% - 50px); 
    }


    /* -----------------------FOOTER---------------------- */

    footer {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        background-color: var(--clr-light-grey);
    }

    .footer-section {
        margin: 0;
        width: 100%;
        padding-left: 3.5%;
        margin-bottom: 30px;
    }
}
