/*
1. GENERAL
2. Header
3. Section : search
4. Section : results city
5. Section : results popular
6. Section : results activity
7. Footer
*/

:root {
    --clr-blue: #0065fc;
    --clr-light-blue: #deebff;
    --clr-light-grey: #f2f2f2;
   
}

@media only screen and (max-width: 992px) {

    main {
        margin: 0;
        
    }

    
}
