/*
1. GENERAL
2. Header
3. Section : search
4. Section : results city
5. Section : results popular
6. Section : results activity
7. Footer
*/

:root {
    --clr-blue: #0065fc;
    --clr-light-blue: #deebff;
    --clr-light-grey: #f2f2f2;
   
}

@media only screen and (max-width: 992px) {

    html {
        margin-left: 10px;
        
    }

    .accomodation{
        flex-direction: column;
        width: 100%;
    }

    .accomodation-city {
        width: 100%;
        background-color: white;
    }

    .popular-card {
        width: 100%;
        display: flex;
    }

    .popular {
        flex-direction: column;
        width: auto;
        border-radius: 0;
        border-radius: 20px;
    }

    
}
