/*
1. GENERAL

2. HEADER

3. MAIN

    3.1 Section : search
    3.2 Section : accomodation
    3.4 Section : activity

4. Footer
*/

/* variable CSS */
:root {
    --clr-blue: #0065fc;
    --clr-light-blue: #deebff;
    --clr-light-grey: #f2f2f2;
    --roundness: ;
}

/*----------------------- 1. GENERAL ---------------------------- */
* {
    font-family: "Raleway", sans-serif;
}

p {
    font-size: 12px;
}

a {
    text-decoration: none; /*texte non surligné*/
    color: inherit; /*enleve la couleur bleu des liens */
}

.fas.fa-star.active {
    color: var(--clr-blue);
}

.fas.fa-star{
    color: var(--clr-light-grey);
}
/*------------------------- 2. HEADER ----------------------------*/
nav {
    display: flex;
    justify-content: space-between;
}

nav img {
}

.menu {
    display: flex;
    justify-content: center;
}

.menu-link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90px; /* 90px parce que même hauteur que le logo */
    width: 190px;
    border-top: 2px solid #ffffff;
}

.menu-link:hover {
    color: var(--clr-blue);
    border-top: 2px solid var(--clr-blue);
}

header {
    margin: 0 3.5%;
}

main {
    margin: 0 3.5%;
}

/* -----------------------3.1 Section : search ---------------------*/

/* Champ de recherche */
.search-input {
    display: flex;
    padding-right: 1px;
    margin-bottom: 20px;
}

.search-input:focus {
    outline: none;
    border: 1px solid var(--clr-blue);
}

/* Icônes Map */
.search-map {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 10px;
    height: 6.5px;
    border-radius: 10px 0px 0px 10px;
    background-color: var(--clr-light-grey);
}

/*----------------------- Champ de recherche ----------------------- */
.search-input input {
    height: 35px;
    border: 1px solid var(--clr-light-grey);
    padding-left: 10px;
    font-weight: 700;
    font-weight: bolder;
}

.search-div {
    font-weight: bolder;
}

.search-button {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 40px;
    border: 1px solid var(--clr-light-grey);
    background-color: var(--clr-blue);
    color: white;
}

.search-button-mobile {
    display: none;
}

.search-button:hover {
    transform: scale(1.05);
}

/* ----------------------- FILTRES DE RECHERCHES --------------------*/
.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    font-weight: 700;
}

/* Elément span "Filtres" */
.filters span {
    padding: 9px 15px 9px 0px;
}

.filters span:first-child {
    margin: 20px 30px 0px 0px;
}

.filter {
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
    transform: scale(1);
    transition: 0.3s ease-in-out;
    margin-top: 20px;
    border: 2px solid var(--clr-light-grey);
    border-radius: 50px;
}

.filters i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-blue);
    padding: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: var(--clr-light-blue);
}

.filter:hover {
    transform: scale(1.1);
}

/* ------------------------Plus de 500 logements ---------------------*/
.infos {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.infos i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-blue);
    padding: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 1px solid var(--clr-light-grey);
    margin-right: 10px;

    font-size: 12px;
}

/* -------------------------------------------------------------- */
/* 3.2 Section : results city */

/* Section "accomodation" */
.accomodation {
    display: flex;
    flex-wrap: wrap-reverse;
}

/* Div accomodation city */
.accomodation-city {
    width: 60%;
    display: flex;
    border-radius: 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;

    /* padding: 5px; */
    background-color: var(--clr-light-grey);
}

/* prend toute la largeur du bloc */
.accomodation-city h2 {
    width: 96%;
}

/*
Trop d'espace entre image et bordure
Carte plus large
Trop d'espace entre les éléments dans la partie "détails"
Majuscule, en gras, texte trop gros
Nuit à partir de 25€ : 25€ en gras
Etoiles bleues ou grises
*/

/* Carte hébergement */
.accomodation-card {
    margin-bottom: 20px;
    /* height: 100%; */
    width: 27%;
    border: white 4px solid;
    background-color: white;
    border-radius: 20px;
}

.more {
    width: 96%;
    margin-left: 4%;
    margin-bottom: 10px;
    font-weight: bolder;
}

/* Carte hébergement : image */
.accomodation-card img {
    height: 120px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Carte hébergement : détails */
.accomodation-card-details {
    /* height: 40%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;
}

.accomodation-card-details h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bolder;
}


/* 3.3 Section : results popular */
/* pourcentage taille par rapport au parent */
.popular {
    width: 25%;
    padding: 30px;
    margin-left: 50px;
    border-radius: 25px;
    background-color: var(--clr-light-grey);
}

.popular h3 {
    display: flex;
    justify-content: space-between;
}

.popular-card {
    display: flex;
    flex-direction: row;
    border: var(--clr-light-blue) 1px solid;
    background-color: white;
    padding: 5px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.popular-card img {
    height: 130px;
    width: 35%;
    object-fit: cover;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.popular-card-details {
    width: 60%;
    padding: 0 10px;
}
/* -----------------3.4 Section : results activity -------------------*/
/* Activity */

/* /* .activities {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activity-card {
    border: var(--clr-light-blue) solid thin;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: small;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 20px 0px;
    transition: width 1s, transform 1s;
}

.activity__card__link:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
    color: var(--clr-light-grey); */
*/ .activities {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
    max-width: 1440px;
}

/* ----------------------- FOOTER -------------------- */

footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 0 50px 0;
    background-color: var(--clr-light-grey);
}

footer div {
    margin-left: 3.5%;
    margin-right: 3.5%;
    width: 100%;
}

ul {
    list-style-type: none;
}

footer h6 {
    margin-bottom: 20px;
}
footer li {
    margin-bottom: 10px;
}
